body {
  background: linear-gradient(to top right, #01002a, #26b5d5, #26efd5);
  margin: 0;
}

:root {
    font-size: 40px;
}
.content {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    justify-content:space-evenly;
}

.content-right {
    width: 100%;
    max-width: 500px;
}

.content-left h1 {
    color: white;
    font-size: 1.5rem;
}

.content-left h2 {
    color: white;
    font-size:1.52rem;
}

.content-left p {
    color: #f3ff7b;
}