/* css */
body {
  font-family: quicksandregular;
}
:root {
  font-size: 14px;
}

h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 1.5rem;
}
.container {
  padding: 25px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
}
.form label {
  margin: 20px 0 5px 0;
}
.form input,
.form textarea {
  border: rgb(252, 116, 139) 2px solid;
  border-radius: 5px;
}
button.submit,
button.copy {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  cursor: pointer;
  background-image: linear-gradient(rgb(253, 156, 189), rgb(243, 126, 143));
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  color: white;
  font-family: "montserratbold";
  border: none;
  transition: 0.25s;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
}

button.submit:hover,
button.copy:hover {
  transform: scale(1.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

button.submit:active,
button.copy:active {
  transform: scale(0.9);
}

button.copy.salin {
  background-image: linear-gradient(rgb(52, 91, 197), rgb(19, 29, 122));
}

input.hidden {
  opacity: 0;
  position: absolute;
  z-index: -999;
}
/* footer */
footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgb(255, 157, 214);
  height: 50px;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer a:hover {
  color: rgb(94, 109, 245);
}
