/* numans */
.numans {
    font-family: 'Numans', sans-serif;
}

/* playball */
.playball {
    font-family: 'Playball', cursive;
}

/* montserrat */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* nunito sans */
.nunitosans {
    font-family: 'Nunito Sans', sans-serif;
}

/* dancingscript */
.dancingscript {
    font-family: 'Dancing Script', cursive;
}

/* alexbrush */
.alexbrush {
    font-family: 'Alex Brush', cursive;
}

/* playfairdisplay  */
.playfairdisplay {
    font-family: 'Playfair Display', serif;
}

/* passionone */
.passionone {
    font-family: 'Passion One', cursive;
}